
<div class="hdr2" ></div>

    <header>
      <nav>

        <div class="logo" >
          <div class="logo-p2" ><a href="/" >Coursify</a></div>
        </div>

        <ul>
        
          <% if student_user_signed_in?%>
          <div class="last" >
          <li><a style="text-transform: capitalize;" href="#" data-reveal-id="wait" ><%= "Welcome, #{current_student_user.name}." %></a></li>

          <li> <%= link_to "Sign Out", destroy_student_user_session_path, :class => "button radius small success"  %> </li>

              

          </div>

          <% else %>
          <div class="last" >
          <li><a href="/signin" >Sign in</a></li>
          </div>
          <% end %>
        </ul>

      </nav>
    </header>

<div class="top-section-inner" >
<div class="content padtop" >
    <div class="row" >
          <div class="medium-12 columns" > 
         
          <p class="register-text"  >Sign in to <strong>CouseName</strong></p>
          <p class="rtsub" >Don't have an account? <a href="/enroll">Click Here to Enroll</a>.</p>
           <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div data-alert style="margin:4px; margin-bottom:12px;" class="alert-box radius success">
                <%= content_tag :div, msg %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <% end %> 
          </div></div>

          <div class="row" >
            <div class="medium-12 small-12 columns" > 
               
               <div class="panel radius" >


                 <div class="row">
                <div class="small-3 large-3 columns">
                </div>
          
            <div class="small-6 large-6 columns">

            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>



           <div class="formbody" >


                  <% if student_user_signed_in?%>
                  <h5 class="textcenter" >You shouldnt be here.  Head over to the <%= link_to "Student Portal", portal_path %> and start learning </h5>

                   <% end %>

                  <div>                  
                  <%= form.label :email, 'Email' %>
                  <%= form.text_field :email %>
                  </div> 

                  <div>                  
                  <%= form.label :password, 'Password' %>
                  <%= form.password_field :password, autocomplete: "off" %>
                  </div> 



                    <% if devise_mapping.rememberable? -%>
                      <div >
                        <%= form.check_box :remember_me %>
                        <%= form.label :remember_me %>
                      </div>
                    <% end -%>
                  
                  

                  
                  


                
                         
            </div>

    <%= form.submit "Sign in", :style => 'background-color:rgb(216, 38, 46);' , :class => "button expand success large radius" %>


    <% end %>
           
           <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <p class="text-center" >
             <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
           </p>
           <% end -%>

  
           
          
              
            </div>

            <div class="small-3 large-3 columns">
                </div>
            
          </div>

               </div>
               
            
               
            </div>

            
          </div>
          

      
    </div>
 </div>




<div class="foot" style="border-top: none; padding-top: 30px; margin-top: 30px;" >
      <%= render(:partial => '/application/footer_partial') %>
      
    </div>