
<div class="hdr2" ></div>

    <header>
      <nav>

        <div class="logo" >
          <div class="logo-p2" ><a href="/" >One Day Rails</a></div>
        </div>

        <ul>
        
          <% if student_user_signed_in?%>
          <div class="last" >
          <li><%= link_to "Welcome, #{current_student_user.name}.", edit_student_user_registration_path,  {:style=>'text-transform: capitalize;',} %></li>

          <li> <%= link_to "Sign Out", destroy_student_user_session_path, :class => "button radius small success" , method: :delete %> </li>

              

          </div>

          <% else %>
          <div class="last" >
          <li><a href="#" data-reveal-id="wait" >Sign in</a></li>
          </div>
          <% end %>
        </ul>

      </nav>
    </header>

<div class="top-section-inner" >
<div class="content padtop" >
    <div class="row" >
          <div class="medium-12 columns" > 
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div data-alert style="margin:4px; margin-bottom:12px;" class="alert-box radius success">
                <%= content_tag :div, msg %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <% end %> 
          <p class="register-text"  >Welcome to <strong>Course Name Here!</strong></p>
          <p class="rtsub" >Please answer the 2 questions below, so we can help you get started.</p>
          </div></div>

          <div class="row" >
            <div class="medium-12 small-12 columns" > 
               
               <div class="panel radius" >


                 <div class="row">
                <div class="small-3 large-3 columns">
                </div>
          
            <div class="small-6 large-6 columns">

            
            <%= form_for( @message, :url => {:action => 'onboard'}) do |form| %>


           <div class="formbody" >

               
                  <% if student_user_signed_in?%>
                  <div>
                    <%= form.hidden_field :name, value: "#{current_student_user.name}" %>
                  </div>

                   <div>
                     <%= form.hidden_field :email, value: "#{current_student_user.email}" %>
                   </div>  

                   <% end %>

                  <div>                  
                  <%= form.label :questionone, 'Type the First Question Here' %>
                  <%= form.text_area :questionone, :placeholder => "You can also add a placeholder here" %>
                  </div> 

                  <div>                  
                  <%= form.label :questiontwo, 'Type the Second Question Here' %>
                  <%= form.text_field :questiontwo, :placeholder => "You can also add a placeholder here" %>
                  </div> 
                  
                  

                  
                  


                  <div>
                  <%= form.hidden_field :subject, value: "Add a subject here" %>
                  </div>

                         
            </div>

    <%= form.submit "Continue", :style => 'background-color:rgb(216, 38, 46);' , :class => "button expand success large radius" %>


    <% end %>
           
  
           
          
              
            </div>

            <div class="small-3 large-3 columns">
                </div>
            
          </div>

               </div>
               
            
               
            </div>

            
          </div>
          

      
    </div>
 </div>




<div class="foot" style="border-top: none; padding-top: 30px; margin-top: 30px;" >
    <%= render(:partial => '/application/footer_partial') %>
      
  </div>