<!DOCTYPE html>
<html lang="en" style="" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	  <title>Coursify | <%= @page_title || "Student Portal" %></title>

	 	<%= stylesheet_link_tag('portalManifest') %>
	 	<%= javascript_include_tag "vendor/modernizr" %>
	    <%= javascript_include_tag "studentPortalManifest" %>
	    <%= csrf_meta_tags %>

	    <!-- < script > add your GOOGLE ANALYTICS code here < / script > -->

	</head>
	<body style="">		
		<%= yield %>		
		
	</body>
</html>
