
<div class="hdr2" ></div>

    <header>
      <nav>

        <div class="logo" >
          <div class="logo-p2" ><a href="/" >Coursify</a></div>
        </div>

        <ul>
        
          <% if student_user_signed_in?%>
          <div class="last" >
          

          <li> <%= link_to "Sign Out", destroy_student_user_session_path, :class => "button radius small success", method: :delete  %> </li>

              

          </div>
          <% elsif admin_user_signed_in? %>

          <div class="last" >
          

          <li> <%= link_to "Back to Admin", root_path, :class => "button radius small success"%> </li>

              

          </div>

          <% else %>
          <div class="last" >
          <li><a href="/signin" >Sign in</a></li>
          </div>
          <% end %>
        </ul>

      </nav>
    </header>

<div class="top-section-inner" >
<div class="content padtop" >
    <div class="row" >
          <div class="medium-12 columns" > 
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div data-alert style="margin:4px; margin-bottom:12px;" class="alert-box radius success">
                <%= content_tag :div, msg %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <% end %> 
          <p class="register-text"  >Edit Your Account Details!</p>
          <p class="rtsub" >Need to update your details? Use the form below.</p>
          </div></div>

          <div class="row" >
            <div class="medium-12 small-12 columns" > 
               
               <div class="panel radius" >


                 <div class="row">
                <div class="small-3 large-3 columns">
                </div>
          
            <div class="small-6 large-6 columns">

            

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
            <div><%= devise_error_messages(resource) %></div>



           <div class="formbody" >

                 
                  <div>                  
                  <%= form.label :name, "Name" %>
                  <%= form.text_field :name, autofocus: true %> 
                  </div> 

                  <div>                  
                  <%= form.label :email, "Email" %>
                  <%= form.email_field :email %> 
                  </div> 

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>

                  <div>                  
                    <%= form.label :current_password do %>
                      Current Password <i><small style=" text-transform: none;" >(Just so we're sure it's you)</small></i>
                     <% end %>
                    <%= form.password_field :current_password, autocomplete: "off" %> 
                  </div> 

                  <div>                  
                    <%= form.label :password, "New Password" %>
                    <%= form.password_field :password, autocomplete: "off" %> 
                  </div> 

                  
                         
            </div>

    <%= form.submit "Update Your Account", :style => 'background-color:rgb(216, 38, 46);' , :class => "button expand success large radius" %>

<br><br><br><br><br>


    <% end %>

    <% if student_user_signed_in?%>
<div class="panel"  >
    <p class="text-center" >Danger Zone! <%= link_to "Click Here to Delete Your Account Forever!", registration_path(resource_name), :class => "button expand radius ", data: { confirm: "Are you sure? You'll have to Enroll and pay again to re-register" }, method: :delete %></p>

  </div>
    <% end %>
           
  
           
          
              
            </div>

            <div class="small-3 large-3 columns">
                </div>
            
          </div>

               </div>
               
            
               
            </div>

            
          </div>
          

      
    </div>
 </div>




<div class="foot" style="border-top: none; padding-top: 30px; margin-top: 30px;" >

             <%= render(:partial => '/application/footer_partial') %>
      
    </div>